.da-contact-trigger {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: $black;
  z-index: 200;
  background-image: url("../../images/contact.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  transition: 0.2s all ease-in-out;

  &:hover {
    background-image: url("../../images/contact-filled.svg");
    cursor: pointer;
  }
}

.da-layer {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s all ease-in-out;
}

.da-contact-popin {
  position: fixed;
  width: 100%;
  height: max-content;
  max-width: 400px;
  max-height: 90vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background-color: $white;
  z-index: 200;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s all ease-in-out;
  display: flex;
  flex-direction: column;
  padding: 60px 30px;

  .da-contact-close {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 20px;
    right: 20px;
    background-image: url("../../images/cross.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    &:hover {
      cursor: pointer;
    }
  }

  .da-title {
    text-align: center;
    margin-bottom: 40px;
  }

  input, textarea {
    width: 100%;
    margin-bottom: 20px;
    height: 30px;
    padding: 2px 5px;
    font-size: 14px;
    font-family: $poppins;
    border: none;
    background-color: #f7f7f7;

    &:focus-visible {
      outline: $accent-blue auto 1px;
    }

    &[type='submit'] {
      width: max-content;
      margin: 40px auto 0 auto;
      background-color: $blue;
      padding: 10px 15px;
      line-height: 0.8;
      transition: 0.2s all ease-in-out;

      &:hover {
        cursor: pointer;
        background-color: $accent-blue;
        color: $white;
      }
    }
    &[name='message']{
      padding-top: 5px;
      height: 150px;
      min-height: 150px;
      max-height: 150px;
      min-width: 100%;
      max-width: 100%;
    }
  }
}

#da-contact-target {
  display: none;
  &:checked {
    & ~ .da-layer, & ~ .da-contact-popin {
      visibility: visible;
      opacity: 1;
    }

    & ~ .da-contact-popin {
      transform: translate(-50%, -50%) scale(1);
    }

    & ~ .da-contact-trigger {
      background-image: url("../../images/contact-filled.svg");
    }
  }
}