/*
 * Generalities
 */
html {
  scroll-behavior: smooth;
}

* {
  @include text-basics;
}


/**
 * Texts
 */

.da-headline {
  @include headline;
}

.da-title {
  @include title;
}

.da-subtitle {
  @include sub-title;
}

.da-small-title {
  @include sub-title;
  font-size: 16px;
  font-weight: 600;
}

.da-text {
  @include text;
}


/**
 * Containers
 */
.da-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

  @media screen and (max-width: 1240px) {
    padding: 0 20px;
  }

  .da-small-container {
    @media screen and (max-width: 840px) {
      padding: 0;
    }
  }
}

.da-small-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;

  @media screen and (max-width: 840px) {
    padding: 0 20px;
  }
}