header {
  padding: 30px 0;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
}

.da-logo-wrapper {
  height:30px;
  width: max-content;
  display: block;

  img {
    height: 100%;
  }
}