/**
 * Home Landing
 */
.da-home-landing {
  height: calc(100% - 90px);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;

  &::after {
    content: '';
    display: block;
    width: 40%;
    height: calc(100% - 35px);
    background-color: $blue;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
  }

  .da-home-landing-content {
    width: 60%;
    @media screen and (max-width: 1024px){
      width: 100%;
    }
  }

  .da-home-landing-menu {
    padding: 25px;
    @media screen and (max-width: 1024px){
      display: none;
    }

    ul {
      list-style: none;

      li {
        margin-bottom: 25px;
        width: 100%;
        text-align: right;

        a {
          @include text;
          color: $black;
          font-weight: 600;
          text-decoration: none;
          margin-left: auto;
          display: flex;
          align-items: center;
          justify-content: flex-end;

          &::after {
            content: '';
            display: block;
            width: 0;
            height: 2px;
            background-color: $black;
            transition: 0.2s all ease-in-out;
          }

          &:hover {
            cursor: pointer;

            &::after {
              margin-left: 5px;
              width: 10px;
            }
          }
        }
      }
    }
  }
}

/**
 * Home Team
 */
.da-home-team {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 150px;
  @media screen and (max-width: 1024px) {
    justify-content: space-evenly;
    padding-top: 30px;
  }

  .da-home-team-person {
    .da-home-team-person-image-wrapper {
      margin: 0 auto;
      height: 180px;
      @media screen and (max-width: 1024px) {
        margin: 0;
        height: 130px;
        max-width: 33%;
      }

      img {
        height: 100%;
      }
    }

    span {
      font-family: $pacifico;
      font-size: 18px;
      width: 100%;
      text-align: center;
      display: block;
      margin-top: 10px;
    }
  }
}

/**
 * Home Services
 */

.da-home-services {
  padding-top: 150px;

  .da-title {
    margin-bottom: 50px;
  }

  .da-small-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .da-home-services-item {
      width: max-content;
      @media screen and (max-width: 1024px) {
        max-width: 50%;
        margin-bottom: 30px;
      }

      .da-home-services-item-image-wrapper {
        width: 60px;
        height: 60px;
        margin: 0 auto 10px auto;

        img {
          width: 100%;
          height: 100%;
          object-position: center;
          object-fit: contain;
        }
      }

      .da-subtitle {
        text-align: center;
        margin-bottom: 10px;
      }

      .da-text {
        text-align: center;
        width: 150px;
        margin: 0 auto;
      }
    }
  }
}

/**
 * Creations
 */

.da-home-creations {
  padding-top: 150px;
  @media screen and (max-width: 1024px) {
    padding-top: 30px;
  }

  .da-home-creations-grid {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr  1fr 1fr;
    grid-gap: 30px;
    grid-auto-rows: 245px;
    grid-template-areas:
                    "one    two   two"
                    "three  four  five"
                    "three  six   six";

    @media screen and (max-width: 1024px) {
      grid-auto-rows: 145px;
      grid-gap: 10px;
    }

    > .da-home-creations-grid-item {
      transition: 0.2s all ease-in-out;
      position: relative;

      @media screen and (max-width: 1024px) {
        cursor: pointer;
        filter: grayscale(1) contrast(1.2);

        .da-home-creations-grid-item-layer {
          opacity: 1;
        }
      }


      &:hover {
        cursor: pointer;
        filter: grayscale(1) contrast(1.2);

        .da-home-creations-grid-item-layer {
          opacity: 1;
        }
      }

      .da-home-creations-grid-item-layer {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        transition: 0.2s all ease-in-out;

        .da-home-creations-grid-item-layer-wrapper-logo {
          width: 100px;
          height: 100px;
          margin: 50px auto 0;

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
          }
        }

        p {
          text-align: center;
          color: $white;
        }
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }

      &:nth-child(1) {
        grid-area: one;
      }

      &:nth-child(2) {
        grid-area: two;
      }

      &:nth-child(3) {
        grid-area: three;
      }

      &:nth-child(4) {
        grid-area: four;
      }

      &:nth-child(5) {
        grid-area: five;
      }

      &:nth-child(6) {
        grid-area: six;
      }
    }
  }
}

/**
 * News
 */

.da-home-news {
  padding-top: 150px;
  @media screen and (max-width: 1024px) {
    padding-top: 30px;
  }

  .da-home-news-grid {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr  1fr 2fr;
    grid-gap: 30px;
    grid-auto-rows: 245px;
    @media screen and (max-width: 1024px) {
      display: flex;
      flex-wrap: wrap;
    }

    > .da-home-news-grid-item {
      transition: 0.2s all ease-in-out;
      position: relative;
      @media screen and (max-width: 1024px){
        height: max-content;
      }

      &:hover {
        cursor: pointer;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }

      .da-small-title {
        margin-top: 10px;
      }
      small {
        font-weight: 200;
      }
    }
  }
}

/**
 * Footer
 */

footer {
  margin-top: 150px;
  background-color: $blue;

  .da-container {
    padding-top: 50px;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: 1fr  1fr 1fr;
    grid-gap: 30px;
    justify-content: space-between;
  }

  .da-footer-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      list-style: none;
      li {
        margin: 0 5px;
        a {
          @include text;
          color: $black;
          font-weight: 600;
          text-decoration: none;
          margin-left: auto;
          display: flex;
          align-items: center;
          justify-content: flex-end;
        }
      }
    }
  }

}