/*
 * Mixins
 */

@mixin text-basics() {
  font-family: $poppins;
  line-height: 1;
}

@mixin headline() {
  @include text-basics();
  font-family: $playfair;
  font-size: 72px;
  font-weight: 900;
  @media screen and (max-width: 1024px){
    font-size: 46px;
  }
}

@mixin title() {
  @include text-basics();
  font-family: $playfair;
  font-size: 36px;
  font-weight: 900;
}

@mixin sub-title() {
  @include text-basics();
  font-family: $poppins;
  font-size: 24px;
  font-weight: normal;
  @media screen and (max-width: 1024px){
    font-size: 20px;
  }
}

@mixin text() {
  @include text-basics();
  font-family: $poppins;
  font-size: 14px;
  font-weight: normal;
  line-height: 22px;
}