/*
 * Fonts
 */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

$playfair: 'Playfair Display', serif;
$poppins: 'Poppins', sans-serif;
$pacifico: 'Pacifico', cursive;

/*
 * Color
 */

$black: #000000;
$black-rgb: 0,0,0;
$blue: #CCE0FF;
$accent-blue: #4C94FF;
$green: #4DD9A6;
$red: #FA8792;
$yellow: #F9C459;
$grey: #DDDDDD;
$white: #FFFFFF;
