/*
 * Partials
 */
/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
	 ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
	 ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
	 ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
	 ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
	 ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
	 ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *		`fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
	 ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
	 ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

/*
 * Fonts
 */
/*
 * Color
 */
/*
 * Mixins
 */
/*
 * Generalities
 */
html {
  scroll-behavior: smooth; }

* {
  font-family: "Poppins", sans-serif;
  line-height: 1; }

/**
 * Texts
 */
.da-headline {
  font-family: "Poppins", sans-serif;
  line-height: 1;
  font-family: "Playfair Display", serif;
  font-size: 72px;
  font-weight: 900; }
  @media screen and (max-width: 1024px) {
    .da-headline {
      font-size: 46px; } }

.da-title {
  font-family: "Poppins", sans-serif;
  line-height: 1;
  font-family: "Playfair Display", serif;
  font-size: 36px;
  font-weight: 900; }

.da-subtitle {
  font-family: "Poppins", sans-serif;
  line-height: 1;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: normal; }
  @media screen and (max-width: 1024px) {
    .da-subtitle {
      font-size: 20px; } }

.da-small-title {
  font-family: "Poppins", sans-serif;
  line-height: 1;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: normal;
  font-size: 16px;
  font-weight: 600; }
  @media screen and (max-width: 1024px) {
    .da-small-title {
      font-size: 20px; } }

.da-text {
  font-family: "Poppins", sans-serif;
  line-height: 1;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 22px; }

/**
 * Containers
 */
.da-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; }
  @media screen and (max-width: 1240px) {
    .da-container {
      padding: 0 20px; } }
  @media screen and (max-width: 840px) {
    .da-container .da-small-container {
      padding: 0; } }

.da-small-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto; }
  @media screen and (max-width: 840px) {
    .da-small-container {
      padding: 0 20px; } }

header {
  padding: 30px 0;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100; }

.da-logo-wrapper {
  height: 30px;
  width: max-content;
  display: block; }
  .da-logo-wrapper img {
    height: 100%; }

.da-contact-trigger {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #000000;
  z-index: 200;
  background-image: url("../../images/contact.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  transition: 0.2s all ease-in-out; }
  .da-contact-trigger:hover {
    background-image: url("../../images/contact-filled.svg");
    cursor: pointer; }

.da-layer {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s all ease-in-out; }

.da-contact-popin {
  position: fixed;
  width: 100%;
  height: max-content;
  max-width: 400px;
  max-height: 90vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background-color: #FFFFFF;
  z-index: 200;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s all ease-in-out;
  display: flex;
  flex-direction: column;
  padding: 60px 30px; }
  .da-contact-popin .da-contact-close {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 20px;
    right: 20px;
    background-image: url("../../images/cross.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; }
    .da-contact-popin .da-contact-close:hover {
      cursor: pointer; }
  .da-contact-popin .da-title {
    text-align: center;
    margin-bottom: 40px; }
  .da-contact-popin input, .da-contact-popin textarea {
    width: 100%;
    margin-bottom: 20px;
    height: 30px;
    padding: 2px 5px;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    border: none;
    background-color: #f7f7f7; }
    .da-contact-popin input:focus-visible, .da-contact-popin textarea:focus-visible {
      outline: #4C94FF auto 1px; }
    .da-contact-popin input[type='submit'], .da-contact-popin textarea[type='submit'] {
      width: max-content;
      margin: 40px auto 0 auto;
      background-color: #CCE0FF;
      padding: 10px 15px;
      line-height: 0.8;
      transition: 0.2s all ease-in-out; }
      .da-contact-popin input[type='submit']:hover, .da-contact-popin textarea[type='submit']:hover {
        cursor: pointer;
        background-color: #4C94FF;
        color: #FFFFFF; }
    .da-contact-popin input[name='message'], .da-contact-popin textarea[name='message'] {
      padding-top: 5px;
      height: 150px;
      min-height: 150px;
      max-height: 150px;
      min-width: 100%;
      max-width: 100%; }

#da-contact-target {
  display: none; }
  #da-contact-target:checked ~ .da-layer, #da-contact-target:checked ~ .da-contact-popin {
    visibility: visible;
    opacity: 1; }
  #da-contact-target:checked ~ .da-contact-popin {
    transform: translate(-50%, -50%) scale(1); }
  #da-contact-target:checked ~ .da-contact-trigger {
    background-image: url("../../images/contact-filled.svg"); }

/**
 * Home Landing
 */
.da-home-landing {
  height: calc(100% - 90px);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative; }
  .da-home-landing::after {
    content: '';
    display: block;
    width: 40%;
    height: calc(100% - 35px);
    background-color: #CCE0FF;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1; }
  .da-home-landing .da-home-landing-content {
    width: 60%; }
    @media screen and (max-width: 1024px) {
      .da-home-landing .da-home-landing-content {
        width: 100%; } }
  .da-home-landing .da-home-landing-menu {
    padding: 25px; }
    @media screen and (max-width: 1024px) {
      .da-home-landing .da-home-landing-menu {
        display: none; } }
    .da-home-landing .da-home-landing-menu ul {
      list-style: none; }
      .da-home-landing .da-home-landing-menu ul li {
        margin-bottom: 25px;
        width: 100%;
        text-align: right; }
        .da-home-landing .da-home-landing-menu ul li a {
          font-family: "Poppins", sans-serif;
          line-height: 1;
          font-family: "Poppins", sans-serif;
          font-size: 14px;
          font-weight: normal;
          line-height: 22px;
          color: #000000;
          font-weight: 600;
          text-decoration: none;
          margin-left: auto;
          display: flex;
          align-items: center;
          justify-content: flex-end; }
          .da-home-landing .da-home-landing-menu ul li a::after {
            content: '';
            display: block;
            width: 0;
            height: 2px;
            background-color: #000000;
            transition: 0.2s all ease-in-out; }
          .da-home-landing .da-home-landing-menu ul li a:hover {
            cursor: pointer; }
            .da-home-landing .da-home-landing-menu ul li a:hover::after {
              margin-left: 5px;
              width: 10px; }

/**
 * Home Team
 */
.da-home-team {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 150px; }
  @media screen and (max-width: 1024px) {
    .da-home-team {
      justify-content: space-evenly;
      padding-top: 30px; } }
  .da-home-team .da-home-team-person .da-home-team-person-image-wrapper {
    margin: 0 auto;
    height: 180px; }
    @media screen and (max-width: 1024px) {
      .da-home-team .da-home-team-person .da-home-team-person-image-wrapper {
        margin: 0;
        height: 130px;
        max-width: 33%; } }
    .da-home-team .da-home-team-person .da-home-team-person-image-wrapper img {
      height: 100%; }
  .da-home-team .da-home-team-person span {
    font-family: "Pacifico", cursive;
    font-size: 18px;
    width: 100%;
    text-align: center;
    display: block;
    margin-top: 10px; }

/**
 * Home Services
 */
.da-home-services {
  padding-top: 150px; }
  .da-home-services .da-title {
    margin-bottom: 50px; }
  .da-home-services .da-small-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    .da-home-services .da-small-container .da-home-services-item {
      width: max-content; }
      @media screen and (max-width: 1024px) {
        .da-home-services .da-small-container .da-home-services-item {
          max-width: 50%;
          margin-bottom: 30px; } }
      .da-home-services .da-small-container .da-home-services-item .da-home-services-item-image-wrapper {
        width: 60px;
        height: 60px;
        margin: 0 auto 10px auto; }
        .da-home-services .da-small-container .da-home-services-item .da-home-services-item-image-wrapper img {
          width: 100%;
          height: 100%;
          object-position: center;
          object-fit: contain; }
      .da-home-services .da-small-container .da-home-services-item .da-subtitle {
        text-align: center;
        margin-bottom: 10px; }
      .da-home-services .da-small-container .da-home-services-item .da-text {
        text-align: center;
        width: 150px;
        margin: 0 auto; }

/**
 * Creations
 */
.da-home-creations {
  padding-top: 150px; }
  @media screen and (max-width: 1024px) {
    .da-home-creations {
      padding-top: 30px; } }
  .da-home-creations .da-home-creations-grid {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr  1fr 1fr;
    grid-gap: 30px;
    grid-auto-rows: 245px;
    grid-template-areas: "one    two   two" "three  four  five" "three  six   six"; }
    @media screen and (max-width: 1024px) {
      .da-home-creations .da-home-creations-grid {
        grid-auto-rows: 145px;
        grid-gap: 10px; } }
    .da-home-creations .da-home-creations-grid > .da-home-creations-grid-item {
      transition: 0.2s all ease-in-out;
      position: relative; }
      @media screen and (max-width: 1024px) {
        .da-home-creations .da-home-creations-grid > .da-home-creations-grid-item {
          cursor: pointer;
          filter: grayscale(1) contrast(1.2); }
          .da-home-creations .da-home-creations-grid > .da-home-creations-grid-item .da-home-creations-grid-item-layer {
            opacity: 1; } }
      .da-home-creations .da-home-creations-grid > .da-home-creations-grid-item:hover {
        cursor: pointer;
        filter: grayscale(1) contrast(1.2); }
        .da-home-creations .da-home-creations-grid > .da-home-creations-grid-item:hover .da-home-creations-grid-item-layer {
          opacity: 1; }
      .da-home-creations .da-home-creations-grid > .da-home-creations-grid-item .da-home-creations-grid-item-layer {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        transition: 0.2s all ease-in-out; }
        .da-home-creations .da-home-creations-grid > .da-home-creations-grid-item .da-home-creations-grid-item-layer .da-home-creations-grid-item-layer-wrapper-logo {
          width: 100px;
          height: 100px;
          margin: 50px auto 0; }
          .da-home-creations .da-home-creations-grid > .da-home-creations-grid-item .da-home-creations-grid-item-layer .da-home-creations-grid-item-layer-wrapper-logo img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center; }
        .da-home-creations .da-home-creations-grid > .da-home-creations-grid-item .da-home-creations-grid-item-layer p {
          text-align: center;
          color: #FFFFFF; }
      .da-home-creations .da-home-creations-grid > .da-home-creations-grid-item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center; }
      .da-home-creations .da-home-creations-grid > .da-home-creations-grid-item:nth-child(1) {
        grid-area: one; }
      .da-home-creations .da-home-creations-grid > .da-home-creations-grid-item:nth-child(2) {
        grid-area: two; }
      .da-home-creations .da-home-creations-grid > .da-home-creations-grid-item:nth-child(3) {
        grid-area: three; }
      .da-home-creations .da-home-creations-grid > .da-home-creations-grid-item:nth-child(4) {
        grid-area: four; }
      .da-home-creations .da-home-creations-grid > .da-home-creations-grid-item:nth-child(5) {
        grid-area: five; }
      .da-home-creations .da-home-creations-grid > .da-home-creations-grid-item:nth-child(6) {
        grid-area: six; }

/**
 * News
 */
.da-home-news {
  padding-top: 150px; }
  @media screen and (max-width: 1024px) {
    .da-home-news {
      padding-top: 30px; } }
  .da-home-news .da-home-news-grid {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr  1fr 2fr;
    grid-gap: 30px;
    grid-auto-rows: 245px; }
    @media screen and (max-width: 1024px) {
      .da-home-news .da-home-news-grid {
        display: flex;
        flex-wrap: wrap; } }
    .da-home-news .da-home-news-grid > .da-home-news-grid-item {
      transition: 0.2s all ease-in-out;
      position: relative; }
      @media screen and (max-width: 1024px) {
        .da-home-news .da-home-news-grid > .da-home-news-grid-item {
          height: max-content; } }
      .da-home-news .da-home-news-grid > .da-home-news-grid-item:hover {
        cursor: pointer; }
      .da-home-news .da-home-news-grid > .da-home-news-grid-item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center; }
      .da-home-news .da-home-news-grid > .da-home-news-grid-item .da-small-title {
        margin-top: 10px; }
      .da-home-news .da-home-news-grid > .da-home-news-grid-item small {
        font-weight: 200; }

/**
 * Footer
 */
footer {
  margin-top: 150px;
  background-color: #CCE0FF; }
  footer .da-container {
    padding-top: 50px;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: 1fr  1fr 1fr;
    grid-gap: 30px;
    justify-content: space-between; }
  footer .da-footer-menu {
    display: flex;
    align-items: center;
    justify-content: center; }
    footer .da-footer-menu ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      list-style: none; }
      footer .da-footer-menu ul li {
        margin: 0 5px; }
        footer .da-footer-menu ul li a {
          font-family: "Poppins", sans-serif;
          line-height: 1;
          font-family: "Poppins", sans-serif;
          font-size: 14px;
          font-weight: normal;
          line-height: 22px;
          color: #000000;
          font-weight: 600;
          text-decoration: none;
          margin-left: auto;
          display: flex;
          align-items: center;
          justify-content: flex-end; }
